#imgHeader{
	width: 100%;
    z-index: 0;
    position: absolute;
}
        
#textoApresentacao{
	z-index: 1;
    width: 100%;
    position: absolute;
    color: black;
    margin-top: 30vh;
    font-weight: 900;
    text-align: center;
    font-size: 50px;
}

#botao{
	position: absolute;
    margin-top: 45vh;
    left: 49.5vw;
    z-index: 1;
}