body{
  background-color: lightgray;
  
}

section{
    height: 300px;
  }

nav{
  background-color: #579fff;
  padding-left: 14.75%;
  padding-right: 14.75%;
  position: fixed;
  top: 0;
}


nav li:hover{
  background-color: black;
}

.z-depth-5{
  -webkit-box-shadow: 0 24px 38px 3px rgba(87,159,255,0.14), 0 9px 46px 8px rgba(87,159,255,0.12), 0 11px 15px -7px rgba(87,159,255,0.2);
  box-shadow: 0 24px 38px 3px rgba(87,159,255,0.14), 0 9px 46px 8px rgba(87,159,255,0.12), 0 11px 15px -7px rgba(87,159,255,0.2);
}

.page-footer {
  color: #fff;
  background-color: #579fff;
  padding-top: 34px;
  height: 30vh;
  width: 180vh;
}

main{
  min-height: calc(93vh - 64px);
  padding-top: 70px;
}

.row{
  margin: 0 !important;
}

/* css home */
.imagemprincipal img {
  width: 80VW;
  height: auto;
  margin-top: -7px !important;
  display: block;
  margin: auto;
}

footer {
  background-image: url('https://img.freepik.com/fotos-gratis/adolescente-com-rezar-na-natureza-ensolarada_1150-7219.jpg?w=900&t=st=1681842059~exp=1681842659~hmac=d8d79b0733fa7f6cc31d5f04502d9a7f770068d67c20915a296fa47546ce475b');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px; /* ou a altura desejada */
}

